body{
    background-color: #5F8B4C;
}
h1{
    color: #FFDDAB;
    font-family: Helvetica;
}
h2{
    color:#FF9A9A;
}
p{
    border: 2px solid powderblue;
    padding : 30px;
    color: #945034;
    font-family: Arial;
}
